<!DOCTYPE html>
<html ng-app="restauranteur">
  <head>
    <title>Restauranteur</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

<div ng-view>
  <%= yield %>
</div>

</body>

</html>
